<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
   <dict>
       <key>method</key>
       <string>app-store</string>
       <key>signingStyle</key>
       <string>manual</string>
       <key>teamID</key>
       <string>YAN363KYTD</string>
        <key>provisioningProfiles</key>
       	<dict>
       		<key>com.FlutterAuto.automateApp</key>
       		<string>4ccd3d24-19d1-4f2f-8e39-9ec52e28673f</string>
       	</dict>
   </dict>
</plist>
