<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
   <dict>
       <key>method</key>
       <string>app-store</string>
       <key>teamID</key>
       <string>YAN363KYTD</string>
       <key>provisioningProfiles</key>
       <dict>
          <key>com.FlutterAuto.automateApp</key>
          <string>inAppBrowserProvision</string>
       </dict>
      <key>signingStyle</key>
       <string>manual</string>
       <key>compileBitcode</key>
       <false/>
       <key>destination</key>
       <string>export</string>
   </dict>
</plist>
